.body-header {
    display: flex;
    padding: 12px; 
    font-size: $normal-font-size;
    align-items: center;
    height: 45px;
    background-color: white;
    width: 100vw;
    z-index: 2;

    a {
        color: $dark-gray;
        padding: 4px 6px;
        transition: $transition;
        border-radius: 3px;

        &:hover {
            background-color: $hover-color;
            transition: $transition;
        }
    }

    i {
        font-size: 1.1rem;
        color: rgba(55, 53, 47, 0.8);
        margin-right: 12px;
        border-radius: 3px;
        padding: 5px;
        transition: $transition;

        &:hover {
            transition: $transition;
            background-color: $hover-color;
        }
    }

    .slash {
        display: inline;
        margin-left: 2px;
        color: $medium-gray;
    }
}
