// Standard Colors
.default {
    background: rgba(227, 226, 224, 0.5);
}

.grey {
    background: rgb(227, 226, 224);
}

.brown {
    background: rgb(238, 224, 218);
}

.orange {
    background: rgb(250, 222, 201);
}

.yellow {
    background: rgb(253, 236, 200);
}

.green {
    background: rgb(219, 237, 219);
}

.blue {
    background: rgb(211, 229, 239);
}

.purple {
    background: rgb(232, 222, 238);
}

.pink {
    background: rgb(245, 224, 233);
}

.red {
    background: rgb(255, 226, 221);
}

// Background Colors
.grey-bg {
    background: rgb(235, 236, 237);
}

.brown-bg {
    background: rgb(233, 229, 227);
}

.orange-bg {
    background: rgb(250, 235, 221);
}

.yellow-bg {
    background: rgb(251, 243, 219);
}

.green-bg {
    background: rgb(221, 237, 234);
}

.blue-bg {
    background: rgb(221, 235, 241);
}

.purple-bg {
    background: rgb(234, 228, 242);
}

.pink-bg {
    background: rgb(244, 223, 235);
}

.red-bg {
    background: rgb(251, 228, 228);
}

// Text
.default-text, .grey-text {
    color: rgb(50, 48, 44);
}

.brown-text {
    color: rgb(68, 42, 30);
}

.orange-text {
    color: rgb(73, 41, 14);
}

.yellow-text {
    color: rgb(67,47,30);
}

.green-text {
    color: rgb(47,73,58);
}

.blue-text {
    color: rgb(27,53,73);
}

.purple-text {
    color: rgb(65, 36, 84);
}

.pink-text {
    color: rgb(76, 35, 55);
}

.red-text {
    color: rgb(93, 23, 21);
}