.element-options, .element-options-row  {
    display: flex;
    align-items: center;
    margin-right: 7px;
    opacity: 0;
    transition: $transition;

    .add_element, .element-option-icon {
        @include element-options(1.4rem);
    }
}

.page_title {

    .add_element {
        @include element-options(1.5rem);
        margin-right: 7px;
    }
}