.side-by-side {
    display: flex;
    align-items: flex-start;
}

.body {
    height: 100vh;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.body-scroller {
    flex: 1;
}

.body-content {
    padding-left: 50px;
    padding-bottom: 200px;
    padding-right: 120px;
}

.test {
    height: 90%;
}

.page_title {
    margin-left: 14px;
    color: $dark-gray;
    font-size: 1.21rem;
    margin-bottom: 33px;
    display: flex;
    align-items: center;

    h1 {
        font-family: san-fran-bold, $back-up-fonts;
    }
}

.element, .page_title {
    display: flex;

    &:hover .element-options {
        opacity: 1;
    }
}

.first_child {
    margin-top: 0px !important;
}

.show-menu-btn {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.add_element {
    font-size: 1.7rem;
    cursor: pointer;
}

.option {
    transition: 0.3s;
    display: flex;

    &:hover {
        opacity: 1;
        transition: 0.3s;
    }
}

.opacity_1 {
    opacity: 1;
}

.width_100 {
    width: 100%;
}

.user_input {
    border: none;

    &:focus {
        outline: none;
    }
}

.fa-ellipsis-h {
    font-size: 0.8rem;
    margin-right: 5px;
    cursor: pointer;
}

.e_container {
    width: 100%;
}

.inline {
    display: inline;
}

.flex_1 {
    flex: 1
}

.group {
    display: flex;
    max-width: 90%;
}

.dragging-over {
    box-shadow: 0px 0px 0px 3px rgba(45, 170, 219, 0.3);
}
