.empty-page-text {
    margin-left: 55px;
    color: rgba(55, 53, 47, 0.4);

    div:first-child {
        margin-bottom: 10px;
    }

    a {
        text-decoration: underline;
        cursor: pointer;
        margin-left: 5px;

        i {
            margin-right: 5px;
        }
    }
}

.templates-modal {
    width: 40%;
    padding: 10px 0px;

    .template-option {
        display: flex;
        align-items: center;
        padding-left: 15px;
        cursor: pointer;

        &:hover {
            background-color: $hover-color;
        }

        span {
            font-size: 1.3rem;
            margin-right: 10px;
            margin-bottom: 5px;
        }
    }

    .pen, .inbox {
        span {
            margin-bottom: 0;
        }
    }
}
