// Base
@import "base/_layout";
@import "base/_mixins";
@import "base/_variables";

// Home
@import "components/_home";

// Components
@import "components/_menu";
@import "components/_dropdown";
@import "components/modal";
@import "components/_loader";

    // Body
    @import "components/body/_general";
    @import "components/body/_body-header";
    @import "components/body/templates";
    @import "components/body/_cover_photo";
    @import "components/body/_element_options";
    @import "components/body/_kanban";
    @import "components/body/_colors";
    @import "components/body/_table";
    @import "components/body/_text";
    @import "components/body/_to_do";
    @import "components/body/_headers";
    @import "components/body/_link_to_page";

    // Login and Register
    @import "components/_login-register";

@import "base/media_queries";