.menu {
    background: rgb(251, 251, 250);
    z-index: 5;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;   /* do not shrink */
    overflow: hidden;
    height: 100%;

    .arrows {
        display: flex;
        margin-left: 10px;
        border-radius: 3px;
        padding: 8px 3px 8px 6px;
        opacity: 0;
        cursor: pointer;
        transition: $transition;

        .arrow-left {
            height: 9px;
            width: 9px;
            border-bottom: 1.7px solid $medium-gray;
            border-right: 1.7px solid $medium-gray;
            transform: rotate(135deg);

            &:first-child {
                margin-right: -2px;
            }
        }

        &:hover {
            background-color: $hover-color;
        }
    }

    &:hover .arrows {
        opacity: 100;
        transition: $transition;
    }
}

.menu-header {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 2px 14px;
}

.user-icon {
    text-transform: uppercase;
    background: rgb(208, 208, 207);
    color: rgba(255, 255, 255, 0.9);
    display: table;
    border-radius: 3px;
    padding: 3px;
    font-size: 0.8rem;
    width: 18px;
    height: 18px;
    line-height: 1;
    text-align: center;
    margin-right: 10px;
}

.user-first-name {
    color: rgb(55, 53, 47);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    font-weight: 600;
    flex: 1;
    font-family: san-fran-bold, $back-up-fonts;
}

.search {
    @include menu-item;
    margin-bottom: 15px;
}

.pages {
    overflow-y: scroll;
    flex: 1;
}

.page {
    @include menu-item;
    margin-left: 3px;

    &:hover .page-nav-icons {
        opacity: 1 !important;
    }

    .arrow-toggle-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-radius: 3px;
        width: 20px;
        height: 20px;

        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }
    }

    .triangle {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 7px solid $menu-icon-color;
        border-bottom: 5px solid transparent;
        transition: 0.2s;
    }
    
    .page_name {
        flex: 1;

        .page-title {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 120px;
            min-height: 16px;
        }
        
    }

    .fa-file-alt {
        margin-left: 5px;
        margin-right: 7px;
        font-size: 1rem;
    }

    .menu-dropdown {
        position: static !important;

        .page-nav-icons  {
            opacity: 0;
            display: flex;

            .morehoriz-icon, .add-icon {
                border-radius: 3px;
                display: inline-flex;

                svg {
                    font-size: 1.1rem;
                    color: rgba(25, 23, 17, 0.6);
                }
        
                &:hover {
                    background-color: $hover-color;
                }
            }

            .add-icon {
                margin-left: 3px;
            }
        }
    }
}

.active {
    background-color: $hover-color;
    
    .page-title {
        font-family: san-fran-med, $back-up-fonts;
        color: $dark-gray;
    }
}

.add-page {
    @include menu-item;
    padding-left: 10px;

    svg {
        font-size: 1.3rem;
        color: $menu-icon-color;
        margin-right: 5px;
    }
}

.logout {
    @include menu-item;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: rgba(55, 53, 47, 0.09) 0px -1px 0px;
    padding: 15px;
}

// Quick find
.search-input {
    display: flex;
    width: 100%;
    box-shadow: rgba(55, 53, 47, 0.09) 0px 1px 0px;
    height: 52px;
    padding: 0px 16px;
    align-items: center;

    input {
        border: none;
        font-size: 1.1rem;
        width: 100%;
        color: $dark-gray;
    }

    i {
        font-size: 1.2rem;
        margin-right: 10px;
        color: $medium-gray;
    }
}

.search-results {
    padding-bottom: 8px;
}

.result {
    padding: 10px 16px;
    cursor: pointer; 
    display: flex;
    color: $dark-gray;

    &:hover {
        background-color: $hover-color;
    }

    i {
        margin-right: 10px;
        font-size: 1.2rem;
        color: $medium-gray;
    }
}
