@keyframes hide-menu {
    0% {
        max-width: 235px;
        min-width: 235px;
    }

    100% {
        min-width: 0;
        max-width: 0;
        opacity: 0;
    }
}

@keyframes show-menu {
    0% {
        min-width: 0;
        max-width: 0;
        opacity: 0;
    }

    100% {
        max-width: 235px;
        min-width: 235px;
    }
}

@keyframes body-full-width{
    0% {
        margin-left: 235px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes body-condensed {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 235px;
    }
}

$transition: 20ms ease-in 0s;