@media (max-width: 725px) {

    // Templates
    .empty-page-text {
        margin-right: 40px;
    }

    .templates-modal {
        width: 80%;
    }

    // Body General
    .body-container {
        overflow-x: hidden;
    }

    .body-header {
        background-color: rgba(0,0,0,0);;
    }

    .body-content {
        padding-left: 0;
        padding-right: 50px;
    }

    .element {
        width: 100vw;
        max-width: 100%;
        overflow-x: scroll;
    }

    .element-options {
        opacity: 1;
        margin-left: 10px;
    }

    // Cover Photo
    .photo-container {
        position: relative;

        .cover-buttons {
            opacity: 1;
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            margin: 0;
        }
    }

    .photo-container {
        z-index: -1;
    }

    .photo-dropdown {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        width: 90%
    }

    .grid {
        grid-template-columns: auto auto;

        .grid-photo {
            width: auto;
        }
    }

    .add-photo-container {
        opacity: 1;
        margin-left: 49px;

        .add-photo {
            margin: 0;
        }
    }

    // Table
    .Table {
        padding-bottom: 250px;
        margin-bottom: -250px;

        .table {
            margin-bottom: 30px;
        }

        .table-head {
            .fa-ellipsis-h {
                opacity: 1;
            }
        }
    
        .table-row {
            .element-options {
                opacity: 1 !important;
                position: relative;
            }
        }

        .row-dropdown {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-80%, -50%) !important;
        }

        .sub-menu {
            margin-left: 0;
        }

        .multi-select-popup {
            transform: translateX(0) !important;

            .tag-options {

                .tag-option-dropdown {
                    right: 0;
                }
            }

            .tag-option {
                i {
                    opacity: 1;
                }
            }
        }
    }

    // Kanban
    .Kanban {
        padding-bottom: 250px;
        margin-bottom: -250px;
    }

    // Login and sign up 
    .logo {
        margin-left: 30px;
    }

}

@media (max-width: 350px) {
    
    // Menu
    .menu {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .arrows {
            opacity: 1;
        }

        .user-first-name {
            flex: 0.99;
        }

        .quick-find-modal {
            width: 90%;
        }

        .page, .search, .add-page, .logout {
            p {
                font-size: 1rem;
            }
        }

        .user-first-name {
            font-size: 1.1rem;
        }

        .page {
            .page_name {
                padding-top: 11px;
                padding-bottom: 11px;
            }
        }
        
        .logout {
            width: 100%;

            i {
                font-size: 1rem;
            }
        }

        .menu-dropdown {
            .page-nav-icons {
                opacity: 1 !important;
            }

            .dropdown {
                transform: translateX(-90%);
            }
        }

        .add-page {
            height: 50px;
        }
    }
}

// Login and sign up -- below 330px
@media (max-width: 330px) {
    .form {
        form {
            width: 90%;
        }
    }
}