@media (max-width: 725px) {

    // Menu
    .menu {
        max-width: none;
        min-width: 0;
        width: 100%;

        .arrows {
            opacity: 1;
        }

        .user-first-name {
            flex: 0.99;
        }

        .quick-find-modal {
            width: 90%;
        }

        .dropdown-content, .rename {
            transform: translateX(-80%);
        }

        .page-options {
            opacity: 1 !important;
        }

        .page, .search, .add-page, .logout {
            p {
                font-size: 1rem;
            }
        }

        .user-first-name {
            font-size: 1.1rem;
        }

        .page {
            padding-top: 10px;
            padding-bottom: 10px;

            .page-options {
                .fa-ellipsis-h, .fa-plus {
                    font-size: 0.9rem;
                }
            }
        }
        
        .logout {
            width: 100%;

            i {
                font-size: 1rem;
            }
        }
    }

    // Body General
    .body-container {
        overflow-x: hidden;
    }

    .body-content {
        padding-left: 0;
    }

    .element {
        width: 100vw;
        max-width: 100%;
        overflow-x: scroll;
    }

    .element-options {
        margin-left: 10px;
        .dropdown {
            .dropdown_parent {
                .add_element, .element-option-icon {
                    opacity: 1 !important;
                }
            }
        }
    }

    // Cover Photo
    .photo-container {
        .cover-buttons {
            opacity: 1;
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            margin: 0;
        }
    }

    .photo-dropdown {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        width: 100%
    }

    .grid {
        grid-template-columns: auto auto;

        .grid-photo {
            width: auto;
        }
    }

    .add-photo-container {
        opacity: 1;
        margin-left: 49px;

        .add-photo {
            margin: 0;
        }
    }

    // Table
    .table-head {
        .fa-ellipsis-h {
            opacity: 1;
        }
    }

}
